body{
    background-color:rgba(237, 237, 197, 0.709);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image : url(https://i.stack.imgur.com/9TQsy.png);
}
.container{
    display:flex;
    width:80%;
    margin: 0 auto;
}
nav{
    flex:1;
    font-size:20px;
    top:100px;
    margin-right:100px;
    position:sticky;
}
.introduction-article{
    text-align:justify;
}
.menu-height{
    max-height:10px;
}
nav ul li{
    list-style-type: none;
    margin:0;
    padding:10px;
    width:200px;
    letter-spacing: 0.2em;
}
li a{
    display:block;
    text-decoration:none;
    padding:5px;
    background-color:rgb(238, 238, 217);
    border:solid 1px #000000;
}
li a:hover{
    background-color: rgb(227, 227, 205);
    transform:scale(1.1,1.1);
    font-weight:600;
}

.introduction-article{
    position:relative;
    top:20px;
    left:40px;
    margin-right:100px;
    /* background-image: repeating-linear-gradient(-45deg, rgba(128, 118, 118, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px); */
    /* text-align:center; */
}
main p{
    line-height: 2;
    letter-spacing:0.2em;
}

/* For Contact Us page */
.input-data{
    display:flex;
    flex-direction:row;
    gap:10px;
    position:relative;
}
.input-data label{
    font-style:italic;
    font-weight:600;
}

fieldset{
    display:flex;
    flex-direction:column;
    border:none;
    gap:50px;
}
fieldset label{
    font-size:large;
}
fieldset input{
    display:block;
    font-size:large;
    border:none;
    border-bottom:1px solid rgb(232, 227, 227);
    background-color: rgba(237, 237, 197, 0);;
}
fieldset input:focus{
    outline:none;
}
fieldset textarea{
    border:none;
    resize:none;
    background:transparent;
}
fieldset textarea{
    outline:none;   
}
fieldset .underline{
    position: absolute;
    width:300px;
    top:55px;
    left:70px;
    border-top:solid rgb(232, 227, 227) 1px;
}

/* for menu page */
.menu{
    display:flex;
    flex-direction: column;
    gap:15px;
}
.menu .image img{
    width:200px;
    height:200px;
    padding-top:20px;
    border:solid 1px coral;
}
.menu h2{
    overflow:hidden;
}
.menu .menu-card{
    padding-left:50px;
    padding-right:50px;
    border:solid #bf9494b3 1px;
    width:400px;
    background-image:linear-gradient(to right, rgb(231, 164, 40),coral);
    background-color: coral;
    box-shadow:5px 5px;
}
.menu-center{
    text-align:center;
}
.plate img{
    width:200px;
}
ul li {
    list-style-type: none;
    letter-spacing: 0.2em;
    text-align:left;
    margin-top:10px;
}

/* animations */
.fade-in-animation{
    animation-name: intro;
    animation-duration:5s;
}

@keyframes intro{
    from{
        opacity:0;
    }
    to{
        opacity:100;
    }
}
.move-up-animation{
    animation-name: move-up;
    animation-duration:5s;
}
@keyframes move-up{
    from{
        transform:translateY(120px);
    }
    to{
        transform:translateY(0px);
    }
}